version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: .docker/php/Dockerfile
    container_name: ii-cotrudniejsze-app
    restart: unless-stopped
    tty: true
    volumes:
      - ./:/var/www/html
    networks:
      - app-network
    environment:
      DB_CONNECTION: pgsql
      DB_HOST: db
      DB_PORT: 5432
      DB_DATABASE: main
      DB_USERNAME: root
      DB_PASSWORD: abc_root_123

  web:
    image: nginx:alpine
    container_name: ii-cotrudniejsze-nginx
    restart: unless-stopped
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www/html
      - ./.docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - app-network

  # --- Baza Danych (PostgreSQL) - TU ZMIANA ---
  db:
    image: postgres:15-alpine
    container_name: ii-cotrudniejsze-db
    restart: unless-stopped
    environment:
      POSTGRES_DB: main
      POSTGRES_USER: root
      POSTGRES_PASSWORD: abc_root_123
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - app-network
    ports:
      - "5432:5432"

volumes:
  db_data:

networks:
  app-network:
    driver: bridge