html {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    width: 100%;
    height: 100%;
    margin: 0px;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
}

.global-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.option-button {
    outline: none;
    border: 3px solid rgba(0,0,0,0.8);
    padding: 10px 15px;
    font-weight: bold;
    font-family: "Roboto Mono", monospace;
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 95%;
    box-sizing: border-box;
}

@media (min-aspect-ratio: 0.77) {
    .option-button:hover {
        cursor: pointer;
        background-color: black;
        color: white;
    }
}

.option-button {
    width: 50%; 
    user-select: none;
}

.option-button-idk {
    border: 0px solid red;
    color: red;
    max-height: 10%;
}

@media (min-aspect-ratio: 0.77) {
    .option-button-idk:hover {
        background-color: red;
    }
}

@media (max-aspect-ratio: 0.77) {
   .option-button {
        height: 18%; 
        width: 90%; 
    }     
}

.question-header {
    text-align: center;
    user-select: none;
}

.main-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    gap: 15px;
    overflow: hidden;
    flex: 1;
}


.logout-button {
}

.profile-button {
    text-align: right;
}

.login-button {
    display: flex;
    /* background-color: #00669e; */
    border: 4px solid #00669e;
    color: #00669e;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    width: 40vh;
    height: 20vh;
    aspect-ratio: 1;
}

@media (max-aspect-ratio: 0.77) {
   .login-button {
        height: 80%;
        width: 90%;
    }     
}

.login-uwr-logo {
    width: 100%;
    height: 70vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url('/assets/uniwroc.svg');
}

.opacity-transition {
    transition: opacity 0.25s;
}

.faded-out-button {
    pointer-events: none;
    opacity: 0.0;
}

.locked-button {
    pointer-events: none;
    background-color: black;
    color: white;
}

.locked-button-red {
    pointer-events: none;
    background-color: red;
    color: white;
}

a {
    color: black;
}

.option-button-home-screen {
    text-decoration: none;
}

.faq-modal {
    visibility: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.2);
}

.fag-modal-actual {
    width: 50vh;
    height: 50vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 4px solid black;
    box-sizing: border-box;
}

.faq-modal-content {
    box-sizing: border-box;
    padding: 15px;
    text-overflow: clip;
    height: 90%;
    white-space: wrap;
    overflow-y: scroll;
}

.faq-modal-close-btn {
    height: 10%;
    width: 100%;
    padding: 25px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    user-select: none;
}

.faq-modal-close-btn:hover {
    cursor: pointer;
}

@media (max-aspect-ratio: 0.77) {
   .fag-modal-actual {
        height: 100%;
        width: 100%;
    }     
}

.cat-gif {
    width: 30vh;
    aspect-ratio: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media (max-aspect-ratio: 0.77) {
   .cat-gif {
        width: 80%;
    }     
}

.profile-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    box-sizing: border-box;
    overflow: scroll;
    height: 100%;
    width: 100%;
}

@media (max-aspect-ratio: 0.77) {
    .profile-page {
    }
}

.absolute-overlay {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: -1;
}

.question-count {
    margin-bottom: 70vh;
    font-size: 3vw;
}

@media (max-aspect-ratio: 0.77) {
    .question-count {
        margin-bottom: 70vh;
        font-size: 3vh;
    }    
}

.transition-scale {
    transition: transform 0.5s;
}

.scale-0 {
    transform: scale(0.0);
}

.page-header {
    height: fit-content;
    min-height: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    box-sizing: border-box;
}